header {
  background-color: red;
  height: 100px;
  padding: 25px;
}

header h1 {
  float: left;
  font-size: 40px
  color: white;
  font-weight: bold;
}

header nav {
  float: right;
  font-size: 20px
  color: white;
  text-decoration: underline;
  margin-bottom: 40px;
  margin-right: 40px;
}
